{% extends 'index.html' %}
{%load static%}
{% block title %}Корзина{% endblock %}
{% block dop_style%}<link rel="stylesheet" href="{% static 'clothes/css/cart3.css' %}">{% endblock %}
{% block content %}
<div class="main_category"><p class="clothes_title">Корзина</p></div>

<div class="container_things">
      {% for item in cart %}
        {% with product=item.product %}
    <div class="container_imges"><p class="product_name">{{ product.name }}</p>

              <a href="{{ product.get_absolute_url }}">
                <img class="cart_img" src="{% if product.image %}{{ product.image.url }}
                {% endif %}">
              </a>
    </div>
    <div class="container_description">
       <p class="size">Размер: {{ item.size}}</p>
        <div class="numbers_cart"><form class="numbers_form" action="{% url 'cart:cart_add' product.id %}" method="post">


            <div hidden>{{ item.update_quantity_form.size }}</div>
                {% csrf_token %}
              </form></div>
            <a class="button" href="{% url 'cart:cart_remove' product.id %}">Удалить {{ item.quantity }}</a>



{% endwith %}
      {% endfor %}

    {% if cart.get_total_price%}
      <p class="price_cart">Всего: {{ cart.get_total_price }} ₽</p>
    <a class="button" href="{% url 'order_create'%}" >Оформить заказ</a>
</div>
</div>
    {%else%}
    <div class="empty">
       <p class="empty_write">Ваша корзина пуста</p>
       <a class="button" href="{% url 'main' %}">Вернуться на главную</a>
    </div>
    {% endif %}


{% endblock %}

