{% extends "index.html" %}
{% load static %}
{% block title %}
    Оформление заказа
{% endblock %}

{% block content %}
<div class="main_category"><p class="clothes_title">Оформление заказа</p></div>


        <p class="your_order">Ваш заказ:</p>

            {% for item in cart %}
                    <p class="info_about" >{{ item.quantity }} x {{ item.product.name }}</p>

            {% endfor %}
        <p class="info_about" >Всего: {{ cart.get_total_price }}р</p>

    <form action="https://auth.robokassa.ru/Merchant/Index.aspx?MerchantLogin=danyabelolip&InvoiceID=0&Culture=ru&Encoding=utf-8&OutSum={{ cart.get_total_price }}&SignatureValue={{signature}}" method="post" class="order-form">
        <div class="container_login">
        {{ form.as_p }}
       {% csrf_token %}
      <p><input class="button" type="submit" value="Перейти к оплате"></p>


        </div>
</form>
{% endblock %}
